/* #CBCE91FF Estilos personalizados */

.active{
  color: #fff !important;
  text-decoration: none;
  background:    #d2b4de ;
  border-radius: 50px;

  display: inline-block;
  border: none;
}



.cursiva {
    font-family: "Lora", serif;
    font-style: italic;
    margin-bottom:15px;
}

.link-foro a:hover {
	color:white;
	text-decoration:none;
}

.table-hover tbody tr:hover td, .table tbody tr:hover th {
    background: #D8BFD8;
}

.container-pagina{
    font-family: "Lora", serif;
}

.table{
    font-family: "Lora", serif;
}

.btn-nuevo {
    background: #e74c3c;
    color: black;

}

.col-btn-nuevo {
    padding:0px;
}

.btn-nuevo:hover {
    background:  #cb4335 ;
    border-color: #cb4335;
    color: white;
}

.titulo-post {
    font-family: "Lora", serif;
    font-style: italic;
}

.contenido-post {
    font-family: "Lora", serif;
    font-style: italic;
    margin-top:15px;
}




.post-fecha {
	margin-top:0px;
	color:grey;
}

.helpus-font {
	font-family: "Lora", serif;
    font-style: italic;
}

.bg-helpus {
	/* Morado */
	background-color: #7dcea0;
}

.bg-helpus2 {
	/* Naranja */
	background-color:  #eb984e ;
}

.img-card {
	height:200px;
	width: auto;
}

.myfooter {
	padding:10px;
  position: fixed;
   bottom: 0px;
}

/*
.container-principal {
	background-image: url("../img/PurpleBackground4.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
*/

.org-header {
	background-image: url("../img/PurpleBackground.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
}

.helpus-font-2 {
	font-family: 'Roboto', sans-serif;
  color:#494a4a;
  font-variant: small-caps;
   text-transform: none;
   font-weight: 100;
   margin-bottom: 0;
   text-align: center;

}

.helpus-font-h2 {
	font-family: 'Roboto', sans-serif;
  color:#46a66f;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;
  text-align: left;

}

.helpus-font-h3 {
	font-family: 'Roboto', sans-serif;
  color:#57ab90;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;
  text-align: left;

}

.helpus-font-fuentes {
	font-family: 'Roboto', sans-serif;
  color:#947363;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;
  text-align: left;

}



.helpus-font-p {
	font-family: 'Roboto', sans-serif;
  color:#4c4c4d;

  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




.helpus-font-3 {
	font-family:"Vijaya", "source-sans-pro", Helvetica, Arial, sans-serif;
	font-style:italic;
	font-size: 0.9rem;
}





.bot-footer {
	background-color: #e3f2fd	 ;
}

.bot-content {
	margin-top:4rem;
	margin-bottom:1.5rem;
}

.row-bot {
	padding-top:10px;
	padding-bottom:10px;
}
