/* Estilos personalizados */

.cursiva {
    font-family: "Lora", serif;
    font-style: italic;
    margin-bottom:15px;
}

.link-foro a:hover {
	color:white;
	text-decoration:none;
}

.table-hover tbody tr:hover td, .table tbody tr:hover th {
    background: #D8BFD8;
}

.container-pagina{
    font-family: "Lora", serif;
}

.table{
    font-family: "Lora", serif;
}

.btn-nuevo {
    background: #f2f2f2;
    color:#808080;
    font-family: "Lora", serif;
}

.col-btn-nuevo {
    padding:0px;
}

.btn-nuevo:hover {
    background: #d8bfd8;
    border-color: #d8bfd8;
    color: white;
}

.titulo-post {
    font-family: "Lora", serif;
    font-style: italic;
}

.contenido-post {
    font-family: "Lora", serif;
    font-style: italic;
    margin-top:15px;	
}

.post-fecha {
	margin-top:0px;
	color:grey;
}

.helpus-font {
	font-family: "Lora", serif;
    font-style: italic;
}

.bg-helpus {
	/* Morado */
	background-color: #17D5C9;
}

.bg-helpus2 {
	/* Naranja */
	background-color: #F28F1E;
}

.img-card {
	height:200px;
	width: auto;
}

.myfooter {	
	padding:10px;
}

/*
.container-principal {
	background-image: url("../img/PurpleBackground4.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
*/


.org-header {
	background-image: url("../img/PurpleBackground.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
}


.helpus-font-2 {
	font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #898a8d;
}

.helpus-font-3 {
	font-family:"Vijaya", "source-sans-pro", Helvetica, Arial, sans-serif;
	font-style:italic;
	font-size: 0.9rem;
}

.bot-footer {
	background-color: #e3f2fd	 ;
}

.bot-content {
	margin-top:4rem;
	margin-bottom:1.5rem;
}

.row-bot {
	padding-top:10px;
	padding-bottom:10px;
}
